<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiangcl.gmall.pms.mapper.PageInfoMapper">

    <select id="selectSpuImages" parameterType="java.lang.String" resultType="com.jiangcl.gmall.pms.entity.SpuImage">
        select
            id as id,
            spu_id as spuId,
            img_name as imgName,
            img_url as imgUrl
        from spu_image
        where 1=1
        <if test="imgName != null and imgName != ''">
            and img_name like concat('%',#{imgName},'%')
        </if>
    </select>
</mapper>